/* Mobile */
@media only screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        padding: 5em;
        grid-template-rows: 25%;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer footer footer"
        ;

        .showNav {
            height: 0.8em;
            width: 1.25em;
            display: block;
            border-top: 0.2em solid #000000;
            border-bottom: 0.2em solid #000000;
            border-radius: 0.2em;
        }

        .showNav::before {
            content: '';
            position: absolute;
            width: 1.25em;
            margin-top: 0.3em;
            border-top: 0.2em solid #000000;
        }

    }

    nav {
        display: none;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
    }

    #clicked:target nav {
        display: block
    }

    #clicked .on {
        display: block;
    }

    #clicked .off {
        display: none;
    }

    #clicked:target .on {
        display: none;
    }

    #clicked:target .off {
        display: block;
    }
}

/* Desktop */
@media only screen and (min-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 10em;
        grid-template-rows: 30% 20% 40% 10%;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main aside"
            "footer footer footer"
        ;
    }

}

.on {
    display: none
}

.off {
    display: none
}